* {
  box-sizing: border-box;
  margin: 0;
}

.calculator {
  background-color: #282828;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border: solid 1px #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 40px;
}

#result {
  width: 100%;
  padding: 25px;
  font-size: 24px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
  border-radius: 50px;
  margin: 30px 0 10px 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

button {
  padding: 25px;
  font-size: 24px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}

button:hover {
  background-color: #ddd;
}

.clear {
  background-color: #ff4136;
  color: #fff;
  grid-column: span 2;
}

.number,
.decimal {
  background-color: #fff;
  color: #333;
}

.operator {
  font-size: 30px;
  font-weight: 600;
  background-color: #ffb700;
  color: #fff;
}
.del {
  font-size: 25px;
  background-color: #ff4136;
}
.operator:hover {
  background-color: #db9200;
}

.equals {
  background-color: #ffb700;
  grid-row: span 2;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.zero {
  grid-column: span 2;
}

.equals:hover,
.clear:hover {
  background-color: #db9200;
}
